body {
  margin: 0;
  padding: 0;
  background-color: #0d6efd;
  position: relative;
}

.quizBlock{
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(255 255 255 / 15%);
  position: absolute;
  top: 10em;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}
